* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a
{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.main-container
{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.main-container h1
{
    margin-bottom: 20px;
    text-align: center;
}

table
{
    border: 1px solid black;
    margin: 10px 0; 
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.table-headers
{
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.phases 
{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.phaseTables h2
{
    margin-bottom: 20px;
    text-align: center;
}

.phaseTables form
{
    width: 90%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

form input
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button
{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover
{
    background-color: #45a049;
}

footer
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}